input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#genderAttribute {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#headerTitle {
  margin-left: 10px;
}

#loginButton {
  margin-right: 5px;
}

#registerButton {
  margin-right: 10px;
}

#headerIcon {
  margin-top: -3px;
}

#headerUserLink {
  margin-right: 10px;
  text-decoration: none;
}