{% extends 'base.html' %}

{% block title %}Files page{% endblock %}

{% block content %}
    <h1>This is the files page</h1>
    <h3>You have this files in your cloud now:</h3>
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Filename</th>
              <th scope="col">Download</th>
              <th scope="col">Delete</th>
              <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for data in files %}
                <tr>
                    <td>{{ data[1] }}</td>
                    <td><a href="/{{ username }}/files/download/{{ data[0] }}" type="button" class="btn btn-light" alt="Download {{ data[1] }}" title="Download {{ data[1] }}">Download</a></td>
                    <td><a href="/{{ username }}/files/delete/{{ data[0] }}" type="button" class="btn btn-light" alt="Delete {{ data[1] }}" title="Delete {{ data[1] }}">Delete</a></td>
                    <td>{{ data[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="../download_all" type="button" class="btn btn-dark">Download all files</a>
    <h3>Download file:</h3>
    <form action="/{{ username }}/files/upload" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>              
    </form>
{% endblock %}