{% extends 'base.html' %}

{% block title %}Files page{% endblock %}

{% block content %}
<h1>This is the files page</h1>
<h3>You have this files on your disk right now:</h3>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Download</th>
      <th scope="col">Delete</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <td>{{ file.filename }}</td>
      <td><a href="/{{ user_id }}/files/download/{{ file.id }}/" type="button" class="btn btn-light"
          alt="Download {{ file.filename }}" title="Download {{ file.filename }}">Download</a></td>
      <td><a href="/{{ user_id }}/files/delete/{{ file.id }}/" type="button" class="btn btn-light"
          alt="Delete {{ file.filename }}" title="Delete {{ file.filename }}">Delete</a></td>
      <td>{{ file.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/{{ user_id }}/files/download-all/" type="button" class="btn btn-dark">Download all files</a>
<h3>Download file:</h3>
<form action="/{{ user_id }}/files/upload/" method="post" enctype="multipart/form-data">
  <div class="input-group">
    <input type="file" class="form-control" name="inputFile" aria-label="Choose file">
    <button class="btn btn-outline-secondary" type="submit">Upload</button>
  </div>
</form>
{% endblock %}